#city-search-form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#city-input {
  width: 75%;
}

#search-button {
  width: 50%;
}

#search-error {
  color: red;
  font-size: 15px;
}